<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DvsSapLink2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="guiSettings" type="DvsSapLink2.Settings.GuiSettings, DvsSapLink2" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DvsSapLink2.Properties.Settings>
            <setting name="PREPARE_SOURCE_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_work\userwork</value>
            </setting>
            <setting name="PREPARE_DESTINATION_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\ArchPending</value>
            </setting>
            <setting name="PREPARE_LOG_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\logPending</value>
            </setting>
            <setting name="ARCHIVE_SOURCE_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\ArchPending</value>
            </setting>
            <setting name="ARCHIVE_DESTINATION_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\archiv_autocad\dwg</value>
            </setting>
            <setting name="ARCHIVE_LOG_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\logArchiv\DwgLog</value>
            </setting>
        </DvsSapLink2.Properties.Settings>
    </userSettings>
    <guiSettings>
        <labors>
            <add name="Standardwert (760)" value="760" />
        </labors>
        <states>
            <add name="Archiviert (RE)" value="RE" />
        </states>
    </guiSettings>
</configuration>