<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DvsSapLink2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DvsSapLink2.Properties.Settings>
            <setting name="PREPARE_SOURCE_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\testFiles\work\userwork</value>
            </setting>
            <setting name="PREPARE_DESTINATION_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\testFiles\pre</value>
            </setting>
            <setting name="PREPARE_LOG_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\testFiles\work\log</value>
            </setting>
            <setting name="ARCHIVE_SOURCE_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\test\PreArchive</value>
            </setting>
            <setting name="ARCHIVE_DESTINATION_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\test\Archive</value>
            </setting>
            <setting name="ARCHIVE_LOG_DIRECTORY" serializeAs="String">
                <value>D:\Development\BirrMachines\testFiles\work\log</value>
            </setting>
        </DvsSapLink2.Properties.Settings>
    </userSettings>
</configuration>