<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DvsSapLink2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="guiSettings" type="DvsSapLink2.Settings.GuiSettings, DvsSapLink2" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DvsSapLink2.Properties.Settings>
            <setting name="WORKING_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_work\userwork</value>
            </setting>
            <setting name="PENDING_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\ArchPending</value>
            </setting>
            <setting name="ARCHIVE_DWG_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\archiv_autocad\dwg</value>
            </setting>
            <setting name="ARCHIVE_LOG_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\logArchiv\DwgLog</value>
            </setting>
            <setting name="SAPTRANSFER_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\SapPending\dat</value>
            </setting>
            <setting name="ARCHIVE_SAPTRANSFER_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\logArchiv\SapTransfer</value>
            </setting>
            <setting name="CONVERSION_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\autocad_admin\KonvPending</value>
            </setting>
            <setting name="ARCHIVE_TXT_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\archiv_autocad\txt</value>
            </setting>
            <setting name="ARCHIVE_TIF_DIRECTORY" serializeAs="String">
                <value>I:\z_Temp\Irene_Walt\AutoCAD LT\Archivierung AutoCAD\testFiles\archiv_tif</value>
            </setting>
            <setting name="DEFAULT_SAP_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_SAP_LABOR" serializeAs="String">
                <value>940</value>
            </setting>
            <setting name="DEFAULT_SAP_STATE" serializeAs="String">
                <value>RE</value>
            </setting>
        </DvsSapLink2.Properties.Settings>
    </userSettings>
    <guiSettings>
        <labors>
            <add name="Standardwert (940)" value="940" />
        </labors>
      <states>
            <add name="Archiviert (RE)" value="RE" />
      </states>
      <users>
            <add name="roman.eckert" value="403845" />
            <add name="joel.meier" value="403932" />
      </users>
    </guiSettings>
</configuration>